aiofiles
aiohttp
asyncio
beautifulsoup4
blackpink
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
ntgcalls
py-tgcalls
pykeyboard
pykeyboard
pyrogram==2.0.106
python-dotenv
PyYAML==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
gtts
httpx
httpx[http2]
gpytranslate
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master